<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top"> 
  <a class="navbar-brand" href="#">ЧАСЫ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#my-nav" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="my-nav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">Wi-Fi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/time.html">Время</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#mqtt">MQTT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#weather" >Погода</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#settings">Настройки</a>
      </li>
    <li class="nav-item">
        <a class="nav-link" href="#help">Помощь</a>
      </li>
    </ul>
   </div>
</nav>

